<tr id="task_<%= task.id %>" class="task">
  <td><%= task.name %></td>
  <td>
    <%= form_for task, :html => { :method => :put, :remote => true } do |f| %>
      <%= f.check_box :finished, :class => "task_finished" %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Delete', task, :method => :delete, :class => 'btn danger' %>
  </td>
</tr>
